<div class="actions">
	<p>
		<small>
		<%= link_to_unless_current t("views.invoices._actions.links.view"), invoice_path(invoice) %>
		| <%= link_to_unless_current t("views.invoices._actions.links.pdf"), invoice_path(invoice, format: "pdf") %>
		| <%= link_to_unless_current t("views.invoices._actions.links.edit"), edit_invoice_path(invoice) %>
		<% if invoice.paid_at.blank? %>
		<br />
		<%= link_to_unless_current t("views.invoices._actions.links.acknowledge"), "#" %>
		| <%= link_to_unless_current t("views.invoices._actions.links.reconcile"), "#" %>
		<% end %>
		</small>
	</p>
</div>
