<%= nested_form_for(@invoice) do |f| %>
	<fieldset class="control-group">

		<%= render "errors", invoice: @invoice %>

		<div class="row">
			<div class="span4">
				<fieldset class="control-group">
					<legend><%= t("views.invoices._form.legends.state") %></legend>
					<%= f.label :state, t("views.invoices._form.labels.state") %>
					<div class="controls">
						<%= f.select :state, Invoice::STATES %>
					</div>
				</fieldset>
			</div>

			<div class="span4">
				<fieldset class="control-group">
					<legend><%= t("views.invoices._form.legends.invoice_number") %></legend>
					<%= f.label :invoice_number, t("views.invoices._form.labels.invoice_number") %>
			    <div class="controls"><%= f.text_field :invoice_number, class: "span3", readonly: true %></div>
				</fieldset>
			</div>

			<div class="span4">
				<fieldset class="control-group">
					<legend><%= t("views.invoices._form.legends.uuid") %></legend>
					<%= f.label :uuid, t("views.invoices._form.labels.uuid") %>
			    <div class="controls"><%= f.text_field :uuid, class: "span3", readonly: true %></div>
				</fieldset>
			</div>
		</div>

		<% if new_or_create_action? %>
			<%= render 'form_fields_for_new', { invoice: @invoice, client_addresses: @client_addresses, client: @client , current_organisation: @current_organisation, f: f } %>
		<% else %>
			<%= render 'form_fields_for_edit', { invoice: @invoice, f: f} %>
		<% end %>

		<div class="row">
			<div class="span6">
				<fieldset class="control-group">
					<legend><%= t("views.invoices._form.legends.description") %></legend>
					<%= f.label :description, t("views.invoices._form.labels.description") %>
			    <div class="controls"><%= f.text_area :description, class: "span5", rows: 7 %></div>
				</fieldset>
			</div>
			<div class="span6">
				<fieldset class="control-group">
					<legend><%= t("views.invoices._form.legends.dates") %></legend>
					<div class="row">
						<div class="span3">
							<fieldset>
								<%= f.label :invoiced_at, t("views.invoices._form.labels.invoiced_at") %>
							  <div class="controls"><%= f.date_select :invoiced_at, {}, class: "span2" %></div>
							</fieldset>
						</div>
						<div class="span3">
							<fieldset>
								<%= f.label :due_at, t("views.invoices._form.labels.due_at") %>
							  <div class="controls"><%= f.date_select :due_at, {}, class: "span2" %></div>
							</fieldset>
						</div>
					</div><!-- /.row -->
				</fieldset>				
			</div>
		</div>
		
		<!-- Line Items -->
		<fieldset id="line_items" class="control-group">
			<legend><%= t("views.invoices._form.legends.line_items") %></legend>
			<%= f.fields_for :line_items do |builder| %>
				<%= render "line_item_fields", f: builder %>
			<% end %>
			<p><small><%= f.link_to_add t("views.invoices._form.links.add_a_line_item"), :line_items %></small></p>
		</fieldset>
		<!-- /Line Items -->

		<div class="row">
			<div class="span6">
				<fieldset class="control-group">
					<legend><%= t("views.invoices._form.legends.terms") %></legend>
					<%= f.label :terms, t("views.invoices._form.labels.terms") %>
			    <div class="controls"><%= f.text_area :terms, class: "span5", rows: 5 %></div>
				</fieldset>
			</div>
			<div class="span6">
				<fieldset class="control-group">
					<legend><%= t("views.invoices._form.legends.notes") %></legend>
					<%= f.label :notes, t("views.invoices._form.labels.notes") %>
			    <div class="controls"><%= f.text_area :notes, class: "span5", rows: 5 %></div>
				</fieldset>
			</div>
		</div>

	  <div class="actions form-actions">
	    <%= f.submit class: "btn btn-large btn-primary" %>
	  </div>
	</fieldset>
<% end %>
