<div class="row">
	<div class="span6">
		<fieldset class="control-group">
			<legend><%= t("views.invoices._form.legends.to") %></legend> <%= f.label :to_address_id, t("views.invoices._form.labels.to") %>
			<div class="controls">
				<%= f.collection_select(:to_address_id, client_addresses, :id, :summary, { prompt: true }, { class: "span5" }) %><% if client.present? %>
				<p class="help-text">
					<%=raw t("views.invoices._form.copy.hints.to_address_id", client_name: client.name) %> <small><%= link_to t("views.invoices.clickables.links.all_clients"), new_invoice_path %><%= t("views.application.copy.full_stop") %></small>
				</p><% end %>
			</div>
		</fieldset>
	</div>
	<div class="span6">
		<fieldset class="control-group">
			<legend><%= t("views.invoices._form.legends.from") %></legend> <%= f.label :from_address_id, t("views.invoices._form.labels.from") %>
			<div class="controls">
				<%= f.collection_select(:from_address_id, current_organisation.addresses, :id, :summary, {}, { class: "span5" }) %>
			</div>
		</fieldset>
	</div>
</div>
