<% title t("views.organisations.new.title") %>

<div class="page-header">
	<h1><%= yield :title %></h1>
</div>

<%= form_for(@organisation, html: { class: "form-vertical" } ) do |f| %>
	<fieldset class="control-group">
		<fieldset class="control-group">
			<legend><%= t("views.organisations.new.form.legend.organisation") %></legend>
		    <%= f.label :name, t("views.organisations.new.form.label.name"), class: "control-label" %>
		    <div class="controls"><%= f.text_field :name, class: "xlarge" %></div>

		    <%= f.label :subdomain, t("views.organisations.new.form.label.subdomain"), class: "control-label" %>
		    <div class="controls"><%= f.text_field :subdomain, class: "xlarge" %></div>
		</fieldset>

	  <div class="actions form-actions">
	    <%= f.submit class: "btn large primary" %>
	  </div>
	</fieldset>
<% end %>
