<% title t("views.organisations.show.title", organisation_name: @organisation.name) %>

<div class="page-header">
	<h1><%= yield :title %></h1>
</div>

<div class="row">
	<div class="span9">
		<% if @organisation.clients.blank? %>
			<%= render "organisation_has_no_clients" %>
		<% else %>
			<%= render "organisation_has_clients" %>
		<% end %>
	</div>
	<div class="span3 sidebar">
		<div class="well">
			<ul class="nav nav-list">
				<li class="nav-header"><%= t("views.organisations.show.headings.nav_list.organisation") %></li>
				<li><%= link_to t("views.organisations.show.links.organisation_settings"), edit_organisation_path(@organisation) %></li>
				<li class="nav-header"><%= t("views.organisations.show.headings.nav_list.client") %></li>
				<li><%= link_to t("views.organisations.show.links.clients"), clients_path %></li>
				<li><%= link_to t("views.organisations.show.links.new_client"), new_client_path %></li>
			</ul>
		</div><!-- /.well -->
	</div>
</div>
