<%= form_for(@client, html: { class: "form-vertical" } ) do |f| %>
	<fieldset class="control-group">

	  <% if @client.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

	      <ul>
	      <% @client.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	   <%= f.hidden_field :organisation_id, :value => @current_organisation.id %>

		<fieldset class="control-group">
			<legend><%= t("views.clients.new.form.legend.client") %></legend>
		    <%= f.label :name, t("views.clients.new.form.label.name"), class: "control-label" %>
		    <div class="controls"><%= f.text_field :name %></div>
		</fieldset>

		<br />

		<%= f.fields_for :addresses do |builder| %>  
			<fieldset class="control-group">
				<legend><%= t("views.clients.new.form.legend.address") %></legend>
				<div class="row">
					<div class="span-one-third">
						<fieldset class="control-group">
							<%= builder.label :label, t("views.clients.new.form.label.label"), class: "control-label" %>
							<div class="controls"><%= builder.text_field :label %></div>
						</fieldset>
					</div>			    
					<div class="span-one-third">
						<fieldset class="control-group">
					    <%= builder.label :street, t("views.clients.new.form.label.street"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :street %></div>
					
					    <%= builder.label :town, t("views.clients.new.form.label.town"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :town %></div>
					
					    <%= builder.label :province, t("views.clients.new.form.label.province"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :province %></div>
					
					    <%= builder.label :country, t("views.clients.new.form.label.country"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :country %></div>
					
					    <%= builder.label :postal_code, t("views.clients.new.form.label.postal_code"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :postal_code %></div>
						</fieldset>
				  </div>
					<div class="span-one-third">
						<fieldset class="control-group">
					    <%= builder.label :email, t("views.clients.new.form.label.email"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :email %></div>
				
					    <%= builder.label :phone, t("views.clients.new.form.label.phone"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :phone %></div>
				
					    <%= builder.label :fax, t("views.clients.new.form.label.fax"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :fax %></div>
				
					    <%= builder.label :website, t("views.clients.new.form.label.website"), class: "control-label" %>
					    <div class="controls"><%= builder.text_field :website %></div>
						</fieldset>
					</div>
				</div>
			</fieldset>
		<% end %>		

	  <div class="actions form-actions">
	    <%= f.submit class: "btn large primary" %>
	  </div>
	</fieldset>
<% end %>
