<%= nested_form_for(@client, html: { class: "form-vertical" } ) do |f| %>
	<fieldset class="control-group">

	  <% if @client.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

	      <ul>
	      <% @client.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	   <%= f.hidden_field :organisation_id, :value => @current_organisation.id %>

		<fieldset class="control-group">
			<div class="row">
				<div class="span8">
					<fieldset class="control-group">
						<legend><%= t("views.clients._form.legends.client") %></legend>
				    <%= f.label :name, t("views.clients._form.labels.name"), class: "control-label" %>
				    <div class="controls">
							<%= f.text_field :name, class: "span6" %>
							<p class="help-text"><%=raw t("views.clients._form.copy.hints.name") %></p>
						</div>
					</fieldset>
				</div>
				<div class="span4">
					<fieldset class="control-group">
						<legend><%= t("views.clients._form.legends.security") %></legend>
				    <%= f.label :pdf_password, t("views.clients._form.labels.pdf_password"), class: "control-label" %>
				    <div class="controls">
							<%= f.password_field :pdf_password, value: @client.pdf_password, class: "span3" %>
							<p class="help-text"><%=raw t("views.clients._form.copy.hints.pdf_password") %></p>
						</div>
				    <%= f.label :pdf_password_hint, t("views.clients._form.labels.pdf_password_hint"), class: "control-label" %>
				    <div class="controls">
							<%= f.text_field :pdf_password_hint, class: "span3" %>
							<p class="help-text"><%=raw t("views.clients._form.copy.hints.pdf_password_hint") %></p>
						</div>
					</fieldset>
				</div>
			</div>
		</fieldset>				

		<!-- Address -->
		<fieldset class="control-group">
			<legend><%= t("views.addresses._form.legends.address") %></legend>
				<%= f.fields_for :addresses do |builder| %>
					<%= render "addresses/address_fields", :f => builder %>
				<% end %>
			<p><small><%= f.link_to_add t("views.addresses._form.links.add_an_address"), :addresses %></small></p>
		</fieldset>
		<!-- Address -->

	  <div class="actions form-actions">
	    <%= f.submit class: "btn large primary" %>
	  </div>
	</fieldset>
<% end %>
