<% title t("views.clients.index.title") %>

<div class="page-header">
	<div class="row">
		<div class="span10">
			<h1><%= yield :title %></h1>
		</div>
		<div class="span2 add">
			<%= link_to t("views.clients.index.buttons.add_a_client"), new_client_path, class:  "btn" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span9">
		<% if @clients.blank? %>
			<%= render "organisations/organisation_has_no_clients" %>
		<% else %>
			<%= render "clients" %>
		<% end %>
	</div>
	<div class="span3 sidebar">
		<div class="well">
			<ul class="nav nav-list">
				<li class="nav-header"><%= t("views.clients.show.headings.nav_list.client") %></li>
				<li><%= link_to t("views.clients.show.links.new_client"), new_client_path %></li>
			</ul>
		</div><!-- /.well -->
	</div>
</div>
