<p id="notice"><%= notice %></p>

<p>
  <b>Organisation:</b>
  <%= @client.organisation %>
</p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
