<% title t("views.clients.show.title", client_name: @client.name) %>

<div class="page-header">
	<h1>
		<%= @client.name %><br />
		<small><%= t("views.clients.show.copy.client_of", organisation_name: @client.organisation.name ) %></small>
	</h1>
	<p><small><%= link_to t("views.application.links.edit"), edit_client_path(@client) %></small></p>
</div>

<div class="row">
	<div class="span9 content">
		<%= render "invoices/invoices", invoices: @client.invoices %>
	</div>
	<div class="span3 addresses">
		<%= render @client.addresses %>
	</div>
</div>
