<div class="address">
	<div class="row">
		<div class="span4">
			<fieldset class="control-group">
				<%= f.label :label, t("views.addresses._form.labels.label") %>
				<div class="controls">
		      <%= f.text_field :label %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.label") %></p>
				</div>
				<p><small><%= f.link_to_remove t("views.addresses._form.links.remove_this_address") %></small></p>
			</fieldset>
		</div>			    
		<div class="span4">
			<fieldset class="control-group">
		    <%= f.label :street, t("views.addresses._form.labels.street"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :street %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.street") %></p>
				</div>
	
		    <%= f.label :town, t("views.addresses._form.labels.town"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :town %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.town") %></p>
				</div>
	
		    <%= f.label :province, t("views.addresses._form.labels.province"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :province %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.province") %></p>
				</div>
	
		    <%= f.label :country, t("views.addresses._form.labels.country"), class: "control-label" %>
		    <div class="controls">
					<%= f.select :country, Country::NAME, { prompt: true } %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.country") %></p>
				</div>
	
		    <%= f.label :postal_code, t("views.addresses._form.labels.postal_code"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :postal_code %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.postal_code") %></p>
				</div>
			</fieldset>
	  </div>
		<div class="span4">
			<fieldset class="control-group">
		    <%= f.label :land_line_number, t("views.addresses._form.labels.land_line_number"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :land_line_number %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.land_line_number") %></p>
				</div>

		    <%= f.label :cell_phone_number, t("views.addresses._form.labels.cell_phone_number"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :cell_phone_number %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.cell_phone_number") %></p>
				</div>

		    <%= f.label :fax_number, t("views.addresses._form.labels.fax"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :fax_number %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.fax_number") %></p>
				</div>

		    <%= f.label :email, t("views.addresses._form.labels.email"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :email %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.email") %></p>
				</div>

		    <%= f.label :website, t("views.addresses._form.labels.website"), class: "control-label" %>
		    <div class="controls">
					<%= f.text_field :website %>
					<p class="help-text"><%=raw t("views.addresses._form.copy.hints.website") %></p>
				</div>
			</fieldset>
		</div>
	</div>
</div>