<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar-inner">
		<div class="container-fluid">
			<% if user_signed_in? %>
			<% else %>
				<%= link_to t("application.name"), root_path, :class => "brand" %>
			<% end %>
      <ul class="nav">
				<% if user_signed_in? %>
				<% else %>
					<li id="tab_tour"><%= link_to t("views.application._navigation.link.tour"), "/#tour" %></li>
					<li id="tab_pricing"><%= link_to t("views.application._navigation.link.pricing"), "/#pricing" %></li>
					<li id="tab_sign_up"><%= link_to t("views.application._navigation.link.sign_up"), sign_up_path %></li>
				<% end %>
			</ul><!-- /nav -->
			<ul class="nav secondary-nav">
				<% if user_signed_in? %>
					<li><%= link_to t("views.application._navigation.link.home"), root_url(:host => request.domain) %></li>
					<li id="tab_sign_out" class="dropdown" data-dropdown="dropdown" >
						<a href="#" class="dropdown-toggle"><%=raw truncate(current_user.name, :length => 20) %></a>
						<ul class="dropdown-menu">
							<li><a href="#">Account settings</a></li>
							<li class="divider"></li>
							<li><%= link_to t("views.application._navigation.link.sign_out"), sign_out_path %></li>					
						</ul>
					</li>
				<% else %>
	        <li id="tab_sign_in"><%= link_to t("views.application._navigation.link.sign_in"), sign_in_path %></li>
				<% end %>
			</ul><!-- /.nav .secondary-nav -->
		</div><!-- /.container-fluid -->
	</div><!-- /.topboar-inner -->
</div><!-- /.topbar -->
