<li id="tab_sign_out" class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" alt="<%= current_user.name %>" title="<%= current_user.name %>">
		<i class="icon-user icon-white"></i>
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li>
			<%= link_to root_url(:host => request.domain) do %>
				<i class="icon-home"></i>
				<%= current_user.name %>
			<% end %>
		</li>
		<li class="divider"></li>
		<li>
			<%= link_to account_settings_path do %>
				<i class="icon-cog"></i>
				<%= t("views.application._navigation.links.account_settings") %>
			<% end %>
		</li>
		<li class="divider"></li>
		<li>
			<%= link_to sign_out_path do %>
				<i class="icon-off"></i>
				<%= t("views.application._navigation.links.sign_out") %>
			<% end %>
		</li>
	</ul>
</li>
