<% if index_action? %>
	<div class="buttons_and_links">
		<p>
			<small>
				<%= link_to_unless_current t("views.receipts.clickables.links.view"), receipt %>
				| <%= link_to_unless_current t('views.receipts.clickables.links.edit'), edit_receipt_path(receipt) %>
				| <%= link_to_unless_current t('views.receipts.clickables.links.pdf'), receipt_path(receipt, :format => 'pdf') %>
			</small>
		</p>
	</div>
<% elsif (show_action? || edit_or_update_action?) %>
	<div class="buttons_and_links">
		<p>
			<small>
			<%= link_to_unless_current t("views.receipts.clickables.links.view"), receipt %>
			| <%= link_to_unless_current t('views.receipts.clickables.links.edit'), edit_receipt_path(receipt) %>
			| <%= link_to_unless_current t("views.receipts.clickables.links.new"), new_receipt_path(client_id: receipt.client.id) %>
			| <%= link_to_unless_current t('views.receipts.clickables.links.pdf'), receipt_path(receipt, :format => 'pdf') %>
			| <%= link_to_unless_current t("views.receipts.clickables.links.client"), client_path(receipt.client, anchor: "receipts") %>
			</small>
		</p>
	</div>
<% end %>
