<div class="row">
	<div class="span6">
		<fieldset class="control-group">
			<legend><%= t("views.receipts._form.legends.from") %></legend>

			<fieldset class="control-group">
				<%= f.label :from, t("views.receipts._form.labels.from") %>
		    <div class="controls"><%= f.text_field :from, class: "span3" %></div>
			</fieldset>

			<fieldset class="control-group">
				<%= f.label :from_address, raw(t("views.receipts._form.labels.from_address")) %>
		    <div class="controls"><%= f.text_area :from_address, class: "span5", rows: 7 %></div>
			</fieldset>
		</fieldset>
	</div>
	<div class="span6">
		<fieldset class="control-group">
			<legend><%= t("views.receipts._form.legends.to") %></legend>

			<fieldset class="control-group">
				<%= f.label :to, t("views.receipts._form.labels.to") %>
		    <div class="controls"><%= f.text_field :to, class: "span3" %></div>
			</fieldset>

			<fieldset class="control-group">
				<%= f.label :to_address, raw(t("views.receipts._form.labels.to_address")) %>
		    <div class="controls"><%= f.text_area :to_address, class: "span5", rows: 7 %></div>
			</fieldset>
		</fieldset>
	</div>
</div>
