<% if receipts.present? %>
	<table class="zebra-striped">
	  <thead>
			<tr>
			  <th class="receipt_number"><%= t("views.receipts.table.headings.receipt_number") %></th>
			  <th class="to"><%= t("views.receipts.table.headings.from") %></th>
			  <th class="total"><%= t("views.receipts.table.headings.amount") %></th>
			  <th class="received_at"><%= t("views.receipts.table.headings.received_at") %></th>
				<th class="actions"><%= t("views.receipts.table.headings.actions") %></th>
			</tr>
		</thead>
	  <tbody>
			<% receipts.each do |receipt| %>
		  <tr class="receipt">
		    <td class="receipt_number"><%= receipt.receipt_number %></td>
		    <td class="from"><%= receipt.from %></td>
		    <td class="amount"><%= t("models.currency.codes.#{receipt.currency}") %><%= number_to_currency(receipt.amount, :unit => "") %></td>
		    <td class="received_at"><%= receipt.received_at.strftime("%a, %d %b %Y") %></td>
		    <td class="actions">
					<%= render "receipts/actions", receipt: receipt %>
				</td>
		  </tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<%= render "receipts/no_receipts"%>
<% end %>
